body {
  background-image: url("image/background2.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.music h1 {
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 100px;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}

.personal {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  left: 10%;
  top: 25%;
  position: absolute;
  color: #FFF;
}

.genre {
  font-family: 'Source Code Pro', monospace;
  z-index: max;
  width: 50%;
  top: 15%;
  left: 10%;
  color: #fff;
  font-size: 12px;
  position: absolute;
}

.player {
  z-index: max;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 20px;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
  font-family: 'Source Code Pro', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.track-art {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  border-radius: 190px;
}

.track-artist,
.current-time,
.total-duration,
.track-name {
  color: #f0f0f0;
}

.track-name {
  font-size: 1.5rem;
}

.track-artist {
  font-size: 1rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: #f0f0f0;
}

.active {
  color: #3faf13;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
  color: #f0f0f0;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive {
  color: #3faf13;
}

.rotate {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

.footer {
  padding-top: 5px;
  background-color: #171717;
}

.box p, h1 {
  letter-spacing: 1px;
  color: white;
}

.pop {
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  padding: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  background: #27132C;
  -webkit-text-size-adjust: 30px;
     -moz-text-size-adjust: 30px;
      -ms-text-size-adjust: 30px;
          text-size-adjust: 30px;
  color: #f97b7b;
  text-decoration: none;
}

.fa-twitter {
  color: #61fbfb;
}

.fa-facebook {
  background: #2144e3;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/*# sourceMappingURL=home.css.map */